/* The page is NOT responsive. You can implement responsiveness yourself if you wanna have some fun 😃 */

:root {
  --color-primary: #5ec576;
  --color-secondary: #ffcb03;
  --color-tertiary: #ff585f;
  --color-primary-darker: #4bbb7d;
  --color-secondary-darker: #ffbb00;
  --color-tertiary-darker: #fd424b;
  --color-primary-opacity: #5ec5763a;
  --color-secondary-opacity: #ffcd0331;
  --color-tertiary-opacity: #ff58602d;
  --gradient-primary: linear-gradient(to top left, #39b385, #9be15d);
  --gradient-secondary: linear-gradient(to top left, #ffb003, #ffcb03);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  color: #444;
  line-height: 1.9;
  background-color: #f3f3f3;
  overflow-x: hidden;
}
section {
  padding: 20rem 20rem;
  border-bottom: 1px solid rgba(50,50,50, 0.4);
}
button {
  border: none;
  background-color: #f3f3f3;
}
button:hover {
  outline: none;
  cursor: pointer;
}

/* header */
header > *:not(:first-child) {
  opacity: 0.75;
}
header {
  display: flex;
  justify-content: space-between;
  height: 7rem;
  padding: 1rem 0;
  z-index: 1000;
}
.navOpacity {
  opacity: 0.5;
}
#navLogo {
  padding-left: 7rem;
}
.stickyHead {
  position: sticky;
  top:0;
  left:0;
  background-color: white;
}
#navLogo img {
  height: 100%;
  width: auto;
}
#navButtons {
  padding-right: 7rem;
  display: flex;
  align-items: center;
}
#navButtons a {
  font-size: 2rem;
  transition: all 0.3s;
  padding-right: 3.5rem;
  text-decoration: none;
  color: black;
  font-weight: 500;
}

#navOpenAccount {
  background-color: rgba(24, 168, 36, 0.9);
  border-radius: 2.5rem;
  padding: 1.2rem;
  font-weight: 600;
}
/* create account */
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  z-index: 100;
  transition: all 0.5s;
  display: none;
}
#accountCreation {
  background-color:rgb(240, 240, 240);
  margin: 15vh 32.5vw 0 32.5vw;
  padding: 4rem 5rem;
  position: fixed;
  z-index: 101;
  transition: all 0.5s;
  display: none;
}
#closeModal {
  position: absolute;
  right: 1rem;
  top: 1rem;
  background-color: rgba(0, 0, 0, 0);
  font-weight: bold;
  font-size: 3rem;
}
#accountCreation p {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 2.5rem;
  background-color: rgba(0, 0, 0, 0);
  text-align: center;
}
#faivmins {
  position: relative;
}
#faivmins::after {
  content: '';
  display: block;
  background-image: linear-gradient(to left, rgba(0, 255, 0, 0.763), rgba(0, 128, 0, 0.763));
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: skew(-10deg);
  z-index: -1;
}
.userInfo {
  display: flex;
  justify-content: start;
  margin-bottom: 2.5rem;
}
.userInfo h3{
  width: 40%;
  font-size: 1.5rem;
  font-weight: bold;
}
.userInfo input{
  width: 60%;
  border-radius: 0.5em;
  border-style: none;
  border: 1px solid rgba(133, 131, 131, 0.25);
}
.userInfo input:focus{
  outline: none;
}
#nextStep {
  display: block;
  margin: 0 auto;
  background-color: rgb(58, 194, 85);
  padding: 1rem 3rem; 
  font-size: 2rem;
  border-radius:5rem;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
}
/* section 1 */
#section1 {
  display: flex;
}
#companyDesc {
  width: 60%;
}
#companyDescPrettyText {
  font-size: 5rem;
  font-weight: 700;
}
#companyDescPrettyText span {
  position: relative;
}
#companyDescPrettyText span::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background-image: linear-gradient(to left, lime, green);
  transform: skewX(-10deg) scale(1.07, 1.5);
  opacity: 0.5;
}
#multipleImages {
  width: 40%;
}
#companyDesc h1 {
  font-size: 2.5rem;
  margin-top: 2.5rem;
}
#companyDesc button {
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 2.5rem;
  color: limegreen;
  padding-bottom: 0.2rem;
  border-bottom: 1px solid limegreen;
  font-family: 'Poppins', sans-serif;
}
#multipleImages img{
  width: 100%;
  height: auto;
}
#multipleImages {
  padding-left: 2rem;
}

/* section 2 */

.sectionlabel {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
}
.sectionlabel > h2{
  color: #39b385;
  font-size: 2rem;
  width: 100%;
}
.sectionlabel > h1{
  font-size: 4rem;
}
.section2infocont {
  display: flex;
  justify-content: space-between;
}
.section2infocont:not(:last-child){
  margin: 20rem 0;
}
.infocontimage {
  width: 50%;
}
.lazyImage {
  filter: blur(20px);
}
.infocontimage img{
  width: 100%;
  height: auto;
}
.infoconttext {
  width: 40%;
  height: 100%;
  padding: 5% 0;
}
.infoconttext p {
  font-size: 1.5rem;
  font-weight: 400;
}
.infoconttext h1 {
  font-size: 3rem;
  font-weight: 400;
}
.infocontdecdiv {
  background-color: #4bbb7d;
  border-radius: 5rem;
  width: 5rem;
  height: 5rem;
  margin-bottom: 2rem;
  opacity: 0.6;
}
/* section 3 */
#operationsCont {
  position: relative;
  padding: 7.5rem 5rem 5rem 5rem;
  background-color: white;
  margin-top: 10rem;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.operationButtons {
  display: flex;
  justify-content: space-between;
  padding: 0 15rem;
  width: 100%;
  position: absolute;
  top: calc(0rem - 2.36rem);
  left: 0;
}
.operationsButt {
  font-size: 1.8rem;
  background-color: yellow;
  padding: 1rem 2.5rem;
  border-radius: 2rem;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  transition: 0.3s;
}

#instTrans {
  background-color: #ffb003;
}
#instLoans {
  background-color: #39b385;
}
#instClose {
  background-color: #ff585f;
}
.moveBtnUp {
  transform: translateY(-0.75rem);
}
#instTrans:hover {

  background-color: #ff8800;
}
#instLoans:hover {

  background-color: #21e99c;
}
#instClose:hover {

  background-color: #fd2498;
}
.operationsTextCont {
  display: flex;
}
#operationsDecDiv {
  background-color: gold;
  border-radius: 5rem;
  width: 7rem;
  height: 7rem;
  opacity: 0.4;
}
.operationsText {
  width: 85%;
  padding-left: 5%;
}
.operationsText h1{
  font-size: 2.5rem;
  margin-bottom: 2.5rem;
}
.operationsText p{
  font-size: 1.75rem;
  margin-bottom: 2.5rem;
}
/* section 4 */

#section4 {
  border-bottom: none;
}
.scrollBtn {
  height: 5rem;
  padding: 1.5rem;
  background-color: white;
  font-size: 3rem;
  font-weight: bold;
  border-radius: 50%;
  line-height: 50%;
  z-index: 150;
}

#scrollLeft {
  margin-right: 1rem;
  margin-top: 30rem;
}
#scrollRight {
  margin-left: 1rem;
  margin-top: 30rem;
}
.slideCommentsCont {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  margin-top: 7.5rem;
  padding: 0 3rem;
  display: flex;
  flex-direction: column;
  transition: 0.5s;
}


.comment {
  margin-top: 2rem;
}
.comment h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  margin-top: 3rem;
}
.comment h2::before {
  
  content: '\201C';
  color: #4bbb7d;
  font-size: 5rem;

}
.comment p {
  font-size: 1.75rem;
}
.pfpAndUser {
  display: flex;
  padding-left: 10rem;
  margin-top: 3rem;
}
.pfpAndUser img {
  width: 7.5rem;
  height: auto;
  border-radius: 50%;
  margin-right: 2.5rem;
}
.commentsAndBtns {
  display: flex;
}
.justComments {
  max-width: 100rem;
  width: 100%;
  height: 50rem;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
.nameAndLoc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.nameAndLoc p {
  font-size: 1.5rem;
  opacity: 0.90;
  color: gray;
  padding-bottom: 1rem;
}
.nameAndLoc h2 {
  padding-top: 1rem;
}
.smolbtn {
  padding: 0.5rem;
  background-color: rgb(182, 182, 182);
  margin-right: 1.25rem;
  border-radius: 50%;
  transition: 0.2s;
}
.smolbtnActive {
  background-color: grey;
}
#smallBtnCont button:hover {
  background-color: grey;
}
#smallBtnCont {
  display: flex;
  justify-content: center;
  margin-top: 3rem;

}
/* last section */

#freeAccount {
  margin-top: 10rem;
  padding-top: 10rem;
  background-color: rgba(55,56,61,255);
  border-bottom: 1px solid rgba(212, 211, 211, 0.2);
}
#freeAccount h1 {
  font-size: 4rem;
  padding: 0 4rem;
  color: white;
  width: 70%;
  text-align: center;
  margin: 0 auto;
}
#freeAccountBtn {
  display: block;
  background-color: rgb(96,196,116);
  font-size: 2rem;
  margin: 5rem auto 0 auto;
  padding: 1.5rem 2rem;
  border-radius: 5rem;
  margin-bottom: 10rem;
  transition: 0.3s;
  font-family: 'Poppins', sans-serif;
}
#freeAccountBtn:hover {
  background-color: rgb(58, 194, 85);
  transform: scale(1.05);
}
footer {
  background-color: rgba(55,56,61,255);
  padding-top: 10rem;
}
#variousButtons {
  display: flex;
  justify-content: space-between;
  padding: 0 35rem;
}
#variousButtons button {
  font-size: 1.8rem;
  background-color: rgba(0, 0, 0, 0);
  color: white;
}
#footerIcon {
  display: block;
  margin: 7.5rem auto 0 auto;
  width: 8rem;
  height: auto;
}
#copystrike {
  margin-top: 5rem;
  padding-bottom: 5rem;
  text-align: center;
  color: rgba(255,255,255, 0.3);
  font-size: 1.2rem;
}